

nav{
    position: relative;
    background-image: radial-gradient(#3b3b3b, #202020);

}

.logo{
    font-size: 1.7rem;
    white-space: nowrap;
    background-image: linear-gradient(to bottom right, #ff884f, #ffb81e);
    color: black;
}
.mobileHamburguer{
    position: absolute;
    bottom: 50%;
    right: 20px;
    transform: translateY(50%);

    font-size: 2.6rem;
    background: none;
    border: none;
    display: none;
    color: white;
}

.socialMediaIcons{
    font-size: .7rem;
    color: white;

    button{
        border: none;
        color: white;
        padding: 0rem 0.2rem;
        margin-right: 5px;
        border-radius: 5px;
        &:nth-of-type(1){
            background-color: blue;
        }
        &:nth-of-type(2){
            background-color: red;
        }
        &:nth-of-type(3){
            background-color: blue;
        }
    }
    

}
.idioma{
    font-size: 0.75rem;
    color: gainsboro;
    strong{
        color: white;
    }
}
.contentSecondColumn{
    display: flex;
    flex-direction: row;
}
.contentSecondColumn ul{
    flex-direction: row;
    list-style: none;
    color: white;
    padding: 0.5rem;
    font-size: 1.15rem;
    cursor: pointer;
}
.contentSecondColumn ul li{
    margin-right: 15px;
    transition: .200s;
    &:hover{
        color: gold;
    }
}
.closeBtn{
    display: none;
    position: absolute;
    top: -5px;
    right: 5px;
    color: white;
    background: none;
    border: none;
    font-size: 2rem;
    transition: .300s;
    &:hover{
        color: gold;
    }
}
@media screen and (max-width: 780px){
    .mobileHamburguer{
        display: block!important;
    }

    .hideNavOptions{
        display: none!important;
    }
    .closeBtn{
        display: block;
    }
    .contentSecondColumn{
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 5px 25px;
        flex-direction: column;
        background-image: radial-gradient(#3b3b3b, #202020);
        border: 1px solid gainsboro;
        transition: .800s;
        z-index: 10;

        ul{
            flex-direction: column;
            overflow: hidden;

            li:hover{
                padding-left: 3px;
                border-bottom: 1px solid gold;
            }
        }
    }
}

@media screen and(max-width: 500px){
    .logo{
        font-size: 1.6rem;
        
    }
    .socialMediaIcons, .idioma{
        display: none;
    }
}