.section {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 3rem 2rem;
}

.section .sectionTitle {
  margin: 1rem 0;
  color: gainsboro;
}

.firstSection {
  background-image: radial-gradient(#3b3b3b, #202020);
}

.highlightsSection {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.highlightsSection .highlight {
  position: relative;
  width: 50%;
  height: 290px;
  text-align: center;
  border: 0px solid #00000000;
  overflow: hidden;
  -webkit-transition: .300s;
  transition: .300s;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/highlightImages/horizonHighlight.jpg);
}

.highlightsSection .highlight:hover {
  border: 3px solid var(--mainColor);
}

.highlightsSection .highlight:nth-of-type(2) {
  background-image: url(../assets/highlightImages/gtaHighlight.jpeg);
}

.highlightsSection .highlight:nth-of-type(3) {
  background-position: center;
  background-image: url(../assets/highlightImages/RE-Village-Highlight.jpg);
}

.highlightsSection .highlight:nth-of-type(4) {
  background-size: cover;
  background-image: url(../assets/highlightImages/gowHighlight.jpg);
}

.highlightsSection .highlight .highlightActionButtons {
  width: 100%;
  height: calc(100% - 30px);
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .600s;
  transition: .600s;
  opacity: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#00000091), to(#000000b9));
  background-image: linear-gradient(to top, #00000091, #000000b9);
}

.highlightsSection .highlight .highlightActionButtons:hover {
  opacity: 1;
}

.highlightsSection .highlight .highlightActionButtons .itemTitle {
  color: white;
}

.highlightsSection .highlight .highlightActionButtons .actionButton {
  width: 300px;
  border: 2px solid #00000000;
  font-weight: bold;
  -webkit-transition: .300s;
  transition: .300s;
  background-image: var(--mainImage);
  border-radius: 7px;
  color: white;
}

.highlightsSection .highlight .highlightActionButtons .actionButton:last-of-type {
  color: black;
  background-image: none;
  background-color: gainsboro;
}

.highlightsSection .highlight .highlightActionButtons .actionButton:hover {
  color: black;
  border: 2px solid black;
}

.highlightsSection .highlight .highlightBottomInfo {
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-weight: bold;
}

.highlightsSection .highlight .highlightBottomInfo .highlightName {
  width: 90px;
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  background-color: #38b3d8;
}

.highlightsSection .highlight .highlightBottomInfo .price {
  width: 100%;
  padding-left: 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.568);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 870px) {
  .highlightsSection .highlight .actionButton {
    width: 210px !important;
  }
}

@media screen and (max-width: 700px) {
  .highlightsSection .highlight {
    width: 100%;
    margin-bottom: 3px;
  }
}

.cardsContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0 20px;
}

.cardsContainer .card {
  width: 230px;
  height: 420px;
  margin-bottom: 1.5rem;
  color: gainsboro;
  background-color: #504f50;
  -webkit-transition: .400s;
  transition: .400s;
  cursor: pointer;
}

.cardsContainer .card:hover {
  background-color: #414141;
}

.cardsContainer .card .imgContainer {
  background-color: white;
  height: 240px;
}

.cardsContainer .card .imgContainer img {
  width: 100%;
  height: 225px;
}

.cardsContainer .card .simpleCardContent {
  height: 100%;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cardsContainer .card .simpleCardContent .itemRate {
  font-size: 0.7rem;
}

.cardsContainer .card .simpleCardContent .itemRate i {
  margin-left: 2px;
}

.cardsContainer .card .simpleCardContent .itemRate .bi-heart-fill {
  color: red;
}

.cardsContainer .card .simpleCardContent .simpleCardBottomInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.cardsContainer .card .simpleCardContent .simpleCardBottomInfo .price {
  margin-bottom: 0;
  font-weight: bold;
  color: white;
}

.cardsContainer .card .simpleCardContent .simpleCardBottomInfo .discount {
  font-size: 0.9rem;
  text-decoration: line-through;
  margin: 0;
}

.cardsContainer .card .simpleCardContent .simpleCardBottomInfo button {
  background: none;
  border: none;
  color: white;
}

@media screen and (max-width: 810px) {
  .newArrivals .cardsContainer .card, .discountSection .cardsContainer .card {
    width: 225px;
  }
}

@media screen and (max-width: 780px) {
  .newArrivals .cardsContainer .card, .discountSection .cardsContainer .card {
    width: 200px;
  }
}

@media screen and (max-width: 721px) {
  .newArrivals .cardsContainer .card, .discountSection .cardsContainer .card {
    width: 180px;
    height: 340px;
  }
  .newArrivals .cardsContainer .card .imgContainer, .discountSection .cardsContainer .card .imgContainer {
    height: 170px;
  }
  .newArrivals .cardsContainer .card .imgContainer img, .discountSection .cardsContainer .card .imgContainer img {
    height: 170px;
  }
  .newArrivals .cardsContainer .card .itemTitleInSimpleCard, .discountSection .cardsContainer .card .itemTitleInSimpleCard {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 500px) {
  .section {
    padding: 2rem 1rem;
  }
}

@media screen and (max-width: 780px) {
  .newArrivals .cardsContainer .card, .discountSection .cardsContainer .card {
    width: 200px;
  }
}

@media screen and (max-width: 440px) {
  .newArrivals .cardsContainer .card, .discountSection .cardsContainer .card {
    width: 45%;
    height: 330px;
  }
  .newArrivals .cardsContainer .card .imgContainer, .discountSection .cardsContainer .card .imgContainer {
    height: 150px;
  }
  .newArrivals .cardsContainer .card .imgContainer img, .discountSection .cardsContainer .card .imgContainer img {
    height: 150px;
  }
  .newArrivals .cardsContainer .card .simpleCardContent, .discountSection .cardsContainer .card .simpleCardContent {
    padding: 12px 7px;
  }
}

.consolesSection {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-image: radial-gradient(#292929, #504f50);
}

.consolesContainerGrid {
  width: 100%;
  gap: 2px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% auto auto auto;
      grid-template-columns: 30% auto auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
      grid-template-areas: "destaque destaque item1 item2" "destaque destaque item3 item4";
}

.consolesContainerGrid .card {
  position: relative;
  border: 1px solid #00000000;
  border-radius: 0;
  background-color: #2a2a2a;
  width: auto;
  height: 200px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: .600s;
  transition: .600s;
}

.consolesContainerGrid .card:hover {
  border: 1px solid gainsboro;
}

.consolesContainerGrid .card .itemTitle {
  font-size: 1.3rem;
  margin-bottom: 0;
}

.consolesContainerGrid .card .price {
  margin-top: -10px;
  margin-bottom: 0;
}

.consolesContainerGrid .card .actionButton {
  width: 210px;
}

.consolesContainerGrid .card:first-of-type {
  width: auto;
  height: auto;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: destaque;
  background-size: cover;
  background-image: url(../assets/extraImages/PS5Preto.jpg);
}

.consolesContainerGrid .card:first-of-type span {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
  overflow: hidden;
  z-index: 100;
}

.consolesContainerGrid .card:first-of-type span:before {
  content: 'Mais vendido!';
  position: absolute;
  width: 150%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: red;
  -webkit-transform: rotate(-45deg) translateY(-20px);
          transform: rotate(-45deg) translateY(-20px);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.consolesContainerGrid .card:first-of-type .itemTitle {
  font-size: 2rem;
}

.consolesContainerGrid .card:first-of-type .actionButton {
  width: 300px;
}

.consolesContainerGrid .card:nth-of-type(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: item1;
  background-image: url(../assets/extraImages/ControlePS5.png);
}

.consolesContainerGrid .card:nth-of-type(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: item2;
  background-image: url(../assets/extraImages/PS4Pro.png);
}

.consolesContainerGrid .card:nth-of-type(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: item3;
  background-image: url(../assets/extraImages/xboxSX.png);
}

.consolesContainerGrid .card:nth-of-type(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: item4;
  background-image: url(../assets/extraImages/headset.png);
}

.consolesContainerGrid .card .consoleContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  background-color: #00000071;
  gap: 10px;
  -webkit-transition: .300s;
  transition: .300s;
  -webkit-transition: .600s;
  transition: .600s;
  opacity: 0;
}

.consolesContainerGrid .card .consoleContent:hover {
  opacity: 1;
}

.consolesContainerGrid .card .consoleContent .actionButton {
  border: 2px solid #00000000;
  font-weight: bold;
  -webkit-transition: .300s;
  transition: .300s;
  background-image: var(--mainImage);
  border-radius: 7px;
  color: white;
}

.consolesContainerGrid .card .consoleContent .actionButton:last-of-type {
  color: black;
  background-image: none;
  background-color: gainsboro;
}

.consolesContainerGrid .card .consoleContent .actionButton:hover {
  color: black;
  border: 2px solid black;
}

@media screen and (max-width: 860px) {
  .consolesSection {
    height: 120vh;
  }
  .consolesContainerGrid {
    -ms-grid-columns: 50% auto;
        grid-template-columns: 50% auto;
    -ms-grid-rows: 60% auto auto auto;
        grid-template-rows: 60% auto auto auto;
        grid-template-areas: "destaque destaque" "destaque destaque" "item1 item2" "item3 item4";
  }
}

@media screen and (max-width: 530px) {
  .consolesSection {
    height: 185vh;
  }
  .consolesContainerGrid {
    gap: 6px;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 30% (20%)[3];
        grid-template-rows: 30% repeat(3, 20%);
        grid-template-areas: "destaque" "item1" "item2" "item3" "item4";
  }
  .consolesContainerGrid .card:first-of-type .itemTitle {
    font-size: 1.3rem;
  }
  .consolesContainerGrid .card:first-of-type .actionButton {
    width: 210px;
  }
}

.discountSection {
  background-image: radial-gradient(#3b3b3b, #202020);
}

.discountSection .discountWarning {
  background-color: orange;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 30px;
  padding: .5rem;
  border: 3px solid black;
  font-weight: bold;
}

.discountSection .card {
  border: 2px solid #00000000;
}

.discountSection .card:hover {
  border: 2px solid gainsboro;
}

.discountSection .card:nth-of-type(1)::before {
  content: "-30%";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -15px;
  right: -15px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-weight: bold;
  background-color: red;
}

.discountSection .card:nth-of-type(2)::before {
  content: "-25%";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -15px;
  right: -15px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-weight: bold;
  background-color: red;
}

.discountSection .card:nth-of-type(3)::before {
  content: "-10%";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -15px;
  right: -15px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-weight: bold;
  background-color: red;
}

.discountSection .card:nth-of-type(4)::before {
  content: "-40%";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -15px;
  right: -15px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-weight: bold;
  background-color: red;
}

.discountSection .card:nth-of-type(5)::before {
  content: "-75%";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -15px;
  right: -15px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-weight: bold;
  background-color: red;
}

.discountSection .simpleCardContent {
  background-color: #b31b1b;
}

.discountSection .simpleCardContent .itemTitleInSimpleCard {
  color: wheat;
}

.discountSection .simpleCardContent .bi-heart-fill {
  color: white !important;
}

@media screen and (max-width: 500px) {
  .cardsContainer .card::before {
    width: 54px !important;
    height: 54px !important;
  }
}
/*# sourceMappingURL=sections.css.map */