@mixin flexCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
@mixin actionButtons{
    border: 2px solid #00000000;
    font-weight: bold;
    transition: .300s;
    background-image: var(--mainImage);
    border-radius: 7px;
    color: white;

    &:last-of-type{
        color: black;
        background-image: none;
        background-color: gainsboro;
    }
    &:hover{
        border: 2px solid black;
    }
}
@mixin showOnHover{
    transition: .600s;
    opacity: 0;

    &:hover{
        opacity: 1;
    }
}


.section{
    height: fit-content;
    padding: 3rem 2rem;

    .sectionTitle{
        margin: 1rem 0;
        color: gainsboro;
    }
}

.firstSection{
    background-image: radial-gradient(#3b3b3b, #202020);
}
// ---------- HIGHLIGHT SECTION -----------
.highlightsSection{
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .highlight{
        position: relative;
        width: 50%;
        height: 290px;
        text-align: center;
        border: 0px solid #00000000;
        overflow: hidden;
        transition: .300s;
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(../assets/highlightImages/horizonHighlight.jpg);

        &:hover{
            border: 3px solid var(--mainColor);
        }

        &:nth-of-type(2){
            background-image: url(../assets/highlightImages/gowHighlight.jpg);
        }
        &:nth-of-type(3){
            background-position: center;
            background-image: url(../assets/highlightImages/RE-Village-Highlight.jpg);
        }
        &:nth-of-type(4){
            background-position: center;
            background-image: url(../assets/highlightImages/R6-Highlight.jpeg);
        }


        .highlightActionButtons{
            width: 100%;
            height: calc(100% - 30px);
            gap: 10px;

            @include flexCenter();
            @include showOnHover();
            flex-wrap: wrap;
            background-image: linear-gradient(to top, #00000091, #000000b9);


            .itemTitle{
                color: white;
            }
            .actionButton{
                width: 300px;
                @include actionButtons();
            }
        }


        .highlightBottomInfo{
            position: absolute;
            bottom: 0px;
            left: 0;
            height: 30px;
            width: 100%;
            display: flex;
            flex-direction: row;
            font-weight: bold;


            .highlightName{
                width: 90px;
                padding: 5px 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                background-color: rgb(56, 179, 216);
            }
            .price{
                width: 100%;
                padding-left: 5px;
                color: white;
                background-color: rgba(0, 0, 0, 0.568);
                display: flex;
                align-items: center;
            }
        }
        
    }
}

@media screen and (max-width: 870px){
    .highlightsSection{
        // padding: 1.5rem .5rem;

        .highlight{
            // width: 48%;

            .actionButton{
                width: 210px!important;
            }
        }

    }
}

@media screen and (max-width: 700px){
    .highlightsSection .highlight{
        width: 100%;
        margin-bottom: 3px;
    }
}


// ---------- FIRST ROW OF GAMES SECTION -----------
.cardsContainer{
    width: 100%;
    display: flex;
    justify-content: baseline;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0 20px;

    .card{
        width: 230px;
        height: 420px;
        margin-bottom: 1.5rem;
        color: gainsboro;
        background-color: #504f50;

        .imgContainer{
            background-color: white;
            height: 240px;

            img{
                width: 100%;
                height: 225px;
            }
        }
        

        .simpleCardContent{
            height: 100%;
            padding: 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            

            .itemRate{
                font-size: 0.7rem;
                i{
                    margin-left: 2px;
                }

                .bi-heart-fill{
                    color: red;
                }
            }

            .simpleCardBottomInfo{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-end;

                .price{
                    margin-bottom: 0;
                    font-weight: bold;
                    color: white;
                }

                button{
                    background: none;
                    border: none;
                    color: white;
                }

            }
        }
        
    }
}

@media screen and (max-width: 810px){
    .newArrivals{
        .cardsContainer{
            .card{
                width: 225px;
            }
        }
    }
}

@media screen and (max-width: 780px){
    .newArrivals{
        .cardsContainer{
            .card{
                width: 200px;
            }
        }
    }
}

@media screen and (max-width: 721px){
    .newArrivals{
        .cardsContainer{
            .card{
                width: 180px;
                height: 340px;

                .imgContainer{
                    height: 170px;
                    img{
                        height: 170px;
                    }
                }

                .itemTitleInSimpleCard{
                    font-size: 1.1rem;
                }
            }
        }
    }
}

@media screen and (max-width: 500px){
    .section{
        padding: 2rem 1rem;
    }
    
}


@media screen and (max-width: 780px){
    .newArrivals{
        .cardsContainer{
            .card{
                width: 200px;
            }
        }
    }
}

@media screen and (max-width: 440px){
    .newArrivals{
        .cardsContainer{
            .card{
                width: 45%;
                height: 330px;

                .imgContainer{
                    height: 150px;
                    img{
                        height: 150px;
                    }
                }

                .simpleCardContent{
                    padding: 12px 7px;
                }

            }
        }
    }
}

// ---------- CONSOLES SECTION -----------
.consolesSection{
    height: fit-content;
    background-image: radial-gradient(#292929, #504f50);
}
.consolesContainerGrid{
    width: 100%;
    gap: 2px;
    display: grid;
    grid-template-columns: 30% auto auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "destaque destaque item1 item2"
        "destaque destaque item3 item4";
        
    .card{
        position: relative;
        border: 1px solid #00000000;
        border-radius: 0;
        background-color: #2a2a2a;
        width: auto;
        height: 200px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        transition: .600s;
        
        &:hover{
            border: 1px solid gainsboro;
        }

        .itemTitle{
            font-size: 1.3rem;
            margin-bottom: 0;
        }
        .price{
            margin-top: -10px;
            margin-bottom: 0;
        }
        .actionButton{
            width: 210px;
        }
        &:first-of-type{
            width: auto;
            height: auto;
            grid-area: destaque;
            background-size: cover;
            background-image: url(../assets/extraImages/PS5Preto.jpg);

            // MOST SOLD DECORATION
            span{
                position: absolute;
                top: -10px;
                left: -10px;
                width: 150px;
                height: 150px;
                @include flexCenter();
                opacity: 1;
                overflow: hidden;
                z-index: 100;

                &:before{
                    content: 'Mais vendido!';
                    position: absolute;
                    width: 150%;
                    height: 50px;
                    @include flexCenter();
                    color: white;
                    font-weight: bold;
                    letter-spacing: 1px;
                    background-color: red;
                    transform: rotate(-45deg) translateY(-20px);
                    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
                }
            }

            .itemTitle{
                font-size: 2rem;
            }
            .actionButton{
                width: 300px;
            }
            
        }
        &:nth-of-type(2){
            grid-area: item1;
            background-image: url(../assets/extraImages/ControlePS5.png);
        }
        &:nth-of-type(3){
            grid-area: item2;
            background-image: url(../assets/extraImages/PS4Pro.png);
        }
        &:nth-of-type(4){
            grid-area: item3;
            background-image: url(../assets/extraImages/xboxSX.png);
        }
        &:nth-of-type(5){
            grid-area: item4;
            background-image: url(../assets/extraImages/headset.png);
        }

        .consoleContent{
            @include flexCenter();
            width: 100%;
            height: 100%;
            color: white;
            background-color: #00000071;
            gap: 10px;
            transition: .300s;
            @include showOnHover();

            .actionButton{
                @include actionButtons();
            }
        }
    }
}

@media screen and(max-width: 860px) {
    .consolesSection{
        height: 120vh;
    }
    .consolesContainerGrid{
        grid-template-columns: 50% auto;
        grid-template-rows: 60% auto auto auto;    
        grid-template-areas: 
            "destaque destaque"
            "destaque destaque"
            "item1 item2"
            "item3 item4";
    }    
}

@media screen and(max-width: 530px) {
    .consolesSection{
        height: 185vh;
    }
    .consolesContainerGrid{
        gap: 6px;
        grid-template-columns: 100%;
        grid-template-rows: 30% repeat(3, 20%);    
        grid-template-areas: 
            "destaque"
            "item1"
            "item2"
            "item3"
            "item4";

            .card:first-of-type{
                .itemTitle{
                    font-size: 1.3rem;
                }
                .actionButton{
                    width: 210px;
                }
            }
    }    
}



