.section {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 3rem 2rem;
  background-image: radial-gradient(#3b3b3b, #202020);
}

.section .sectionTitle {
  margin: 1rem 0;
  color: gainsboro;
}

.highlightsSection {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.highlightsSection .highlight {
  position: relative;
  width: 50%;
  height: 290px;
  border: 0px solid #00000000;
  overflow: hidden;
  -webkit-transition: .300s;
  transition: .300s;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/highlightImages/horizonHighlight.jpg);
}

.highlightsSection .highlight:hover {
  border: 3px solid var(--mainColor);
}

.highlightsSection .highlight:nth-of-type(2) {
  background-image: url(../assets/highlightImages/gowHighlight.jpg);
}

.highlightsSection .highlight:nth-of-type(3) {
  background-position: center;
  background-image: url(../assets/highlightImages/RE-Village-Highlight.jpg);
}

.highlightsSection .highlight:nth-of-type(4) {
  background-position: center;
  background-image: url(../assets/highlightImages/R6-Highlight.jpeg);
}

.highlightsSection .highlight .highlightActionButtons {
  width: 100%;
  height: calc(100% - 30px);
  gap: 10px;
  -webkit-transition: .600s;
  transition: .600s;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#00000091), to(#000000b9));
  background-image: linear-gradient(to top, #00000091, #000000b9);
}

.highlightsSection .highlight .highlightActionButtons:hover {
  opacity: 1;
}

.highlightsSection .highlight .highlightActionButtons .itemTitle {
  color: white;
}

.highlightsSection .highlight .highlightActionButtons .actionButton {
  width: 300px;
  border: 2px solid #00000000;
  font-weight: bold;
  -webkit-transition: .300s;
  transition: .300s;
  background-image: var(--mainImage);
  border-radius: 7px;
  color: white;
}

.highlightsSection .highlight .highlightActionButtons .actionButton:last-of-type {
  color: black;
  background-image: none;
  background-color: gainsboro;
}

.highlightsSection .highlight .highlightActionButtons .actionButton:hover {
  border: 2px solid black;
}

.highlightsSection .highlight .highlightBottomInfo {
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-weight: bold;
}

.highlightsSection .highlight .highlightBottomInfo .highlightName {
  width: 90px;
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  background-color: #38b3d8;
}

.highlightsSection .highlight .highlightBottomInfo .price {
  width: 100%;
  padding-left: 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.568);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 870px) {
  .highlightsSection {
    padding: 1.5rem .5rem;
  }
  .highlightsSection .highlight {
    width: 48%;
  }
  .highlightsSection .highlight .actionButton {
    width: 210px !important;
  }
}

main {
  width: 100%;
  height: 90vh;
  background-image: url(../assets/heroSpiderman.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

main .heroSectionContent {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: white;
  background-color: rgba(0, 0, 0, 0.397);
}

main .heroSectionContent .buyItemHeroSection button {
  font-size: 2rem;
  border-radius: 15px;
  font-weight: bold;
  color: white;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#b6a235), to(gold));
  background-image: linear-gradient(to bottom right, #b6a235, gold);
}

main .heroSectionContent .navigateBetweenSectionCards {
  color: white;
  margin-bottom: 20px;
}

main .heroSectionContent .navigateBetweenSectionCards .card {
  text-align: center;
  font-weight: bold;
  width: 190px;
  font-size: 1.7rem;
  margin-right: 20px;
  padding: 10px 30px;
  border-radius: 10px;
  border: 2px solid gray;
  background-color: rgba(0, 0, 0, 0.637);
  -webkit-transition: .350s;
  transition: .350s;
  cursor: pointer;
}

main .heroSectionContent .navigateBetweenSectionCards .card i {
  -webkit-transition: .100s;
  transition: .100s;
  font-size: 3.5rem;
}

main .heroSectionContent .navigateBetweenSectionCards .card:hover {
  color: gold;
  border: 2px solid gold;
}

nav {
  position: relative;
  background-image: radial-gradient(#3b3b3b, #202020);
}

.logo {
  font-size: 2.2rem;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#b6a235), to(gold));
  background-image: linear-gradient(to bottom right, #b6a235, gold);
  color: black;
}

.mobileHamburguer {
  position: absolute;
  bottom: 50%;
  right: 20px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  font-size: 2.6rem;
  background: none;
  border: none;
  display: none;
  color: white;
}

.socialMediaIcons {
  font-size: .7rem;
  color: white;
}

.socialMediaIcons button {
  border: none;
  color: white;
  padding: 0rem 0.2rem;
  margin-right: 5px;
  border-radius: 5px;
}

.socialMediaIcons button:nth-of-type(1) {
  background-color: blue;
}

.socialMediaIcons button:nth-of-type(2) {
  background-color: red;
}

.socialMediaIcons button:nth-of-type(3) {
  background-color: blue;
}

.idioma {
  font-size: 0.75rem;
  color: gainsboro;
}

.idioma strong {
  color: white;
}

.contentSecondColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contentSecondColumn ul {
  list-style: none;
  color: white;
  padding: 0.5rem;
  font-size: 1.15rem;
  cursor: pointer;
}

.contentSecondColumn ul li {
  margin-right: 15px;
  -webkit-transition: .200s;
  transition: .200s;
}

.contentSecondColumn ul li:hover {
  color: gold;
}

@media screen and (max-width: 780px) {
  .mobileHamburguer {
    display: block !important;
  }
  .contentSecondColumn {
    display: none;
  }
}

:root {
  --mainImage: linear-gradient(to bottom right,#b6a235, gold);
  --mainColor: gold;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.alert {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 1px solid gainsboro;
  background-image: radial-gradient(#3b3b3b, #202020);
  color: white;
  z-index: 100;
  opacity: 0;
  -webkit-animation: none;
          animation: none;
}

@-webkit-keyframes showAlert {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes showAlert {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.cardsContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0 20px;
}

.cardsContainer .card {
  width: 230px;
  height: 420px;
  margin-bottom: 1.5rem;
  color: gainsboro;
  background-color: #504f50;
}

.cardsContainer .card .imgContainer {
  background-color: white;
  height: 240px;
}

.cardsContainer .card .imgContainer img {
  width: 100%;
  height: 225px;
}

.cardsContainer .card .simpleCardContent {
  height: 100%;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cardsContainer .card .simpleCardContent .itemRate {
  font-size: 0.7rem;
}

.cardsContainer .card .simpleCardContent .itemRate i {
  margin-left: 2px;
}

.cardsContainer .card .simpleCardContent .itemRate .bi-heart-fill {
  color: red;
}

.cardsContainer .card .simpleCardContent .simpleCardBottomInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.cardsContainer .card .simpleCardContent .simpleCardBottomInfo .price {
  margin-bottom: 0;
  font-weight: bold;
  color: white;
}

.cardsContainer .card .simpleCardContent .simpleCardBottomInfo button {
  background: none;
  border: none;
  color: white;
}
/*# sourceMappingURL=style.css.map */