@import 'sections';
@import 'heroSection';
@import 'nav';


:root{
    --mainImage: linear-gradient(to bottom right, #ff884f, #ffb81e);
    --mainColor: gold;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.alert{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: fit-content;
    height: fit-content;
    border: 1px solid gainsboro;
    background-image: radial-gradient(#3b3b3b, #202020);
    color: white;
    z-index: 100;
    opacity: 0;
    animation: none;
}

@keyframes showAlert{
    0%{
        opacity: 0;
    }30%{
        opacity: 1;
    }70%{
        opacity: 1;
    }100%{
        opacity: 0;
    }
}


footer{
    height: 21vh;
    color: white;
    @include flexCenter();
    flex-direction: column;
    padding: 20px;
    background-color: #0e0d0d;

    a{
        width: fit-content;
        font-size: 1.2em;
        font-weight: bold;
        margin-top: 10px;
        text-decoration: none;
        text-align: center;
        color: white;
        transition: 300ms;

        &:hover{
            color: #ff884f;
            text-decoration: underline;
        }
    }

    p{
        color: gray;
    }

}















.moreInfoContainer{
    width: 100vw;
    height: 100vh;
    padding: 0 4rem;
    color: white;
    background-color: black;
}
.moreInfoContent{
    background-color: #2e2e2e;
    height: 100vh;
    padding: 20px;

    .bi-heart, .bi-heart-fill{
        margin: 0 .6px;
        font-size: .8rem;
    }
    .bi-heart-fill{
        color: red; 
    }
}
.itemDetailsDiv{
    flex-direction: row;
}
#closeDetails{
    position: absolute;
    top: 0;
    right: 30px;
    font-size: 2.5rem;
    text-decoration: none;
    color: gainsboro;
    transition: .2s;

    &:hover{
        color: #ff884f;
    }
}
.ProductImage{
    width: 400px;
    height: 400px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../assets/gamesImages/spidermanGame.jpg);
}
.productMainDetails{
    margin-left: 3rem;
    width: 80%;

    ul{
        list-style-position: inside;
    }

    .actionButton{
        border: 2px solid #00000000;
        border-radius: 15px;
        font-weight: bold;
        text-decoration: none;
        color: white;
        transition: .350s;
        background-image: linear-gradient(to bottom right, #2be453, #29ae40);

        &:hover{
            color: black;
            border: 2px solid black;
        }
    }
}
.deliveredByText{
    display: inline;
    color: gainsboro;
    white-space: nowrap;

    div{
        display: inline;
        font-weight: bold;
        color: green;
    }
}
.oldPrice{
    color: gainsboro;
    text-decoration: line-through;
    margin-bottom: 0;
}
.suggestionSection{
    padding-top: 1rem;

    .sectionTitle{
        margin-top: 1.1rem;
        margin-bottom: 0;
        color: gainsboro;
    }
}
.suggestionCardsContainer{
    gap: 0;

    .suggestionCard{
        width: 90px;
        height: 100px; 
        padding: 10px;
        border-radius: 6px;
        background: none;
        border: 2px solid #2e2e2e;
        overflow: hidden;
        
        &:hover{
            border: 2px solid white;
        }

        img{
        width: 100%;
        height: 100%;
        }

    }

}


@media screen and (max-width: 800px){
    .moreInfoContainer{
        padding: 0;
        overflow: auto;
    }
    .moreInfoContent{
        width: 100%;
        height: fit-content;
    }
}

@media screen and (max-width: 600px){
    .moreInfoContent{
        padding: 20px 0;
    }
    .itemDetailsDiv{
        flex-direction: column;
    }

    .moreInfoDivTitle{
        margin-left: 20px;
    }

    .ProductImage {
        width: calc(100vw - 1rem);
        height: 340px;
        background-position: left;
    }

    .ProductImage, .productMainDetails, .suggestionSection{
        margin-left: 1rem;
    }

    .deliveredByText{
        white-space: normal;
    }

}